<div class='derived-stats-list'>
  <div>
    HP
  </div>
  <div>
    {{system.hitpoints.value}}
    /
    {{system.hitpoints.max}}
  </div>
  <div>
    AP
  </div>
  <div>
    Total
    {{system.resources.ap.max}}<br />
    Used
    {{system.resources.ap.spent}}<br />
    Current
    {{system.resources.ap.current}}
  </div>
</div>