<ul class='stats-list'>
  <li class='stat'>
    <div class='head-name'>
      Stat
    </div>
    <div class='head-baseStat'>
      Base
    </div>
    <div class='head-feats'>
      Feats
    </div>
    <div class='head-bonus'>
      Bonus
    </div>
    <div class='head-level'>
      Level
    </div>
    <div class='head-total'>
      Total
    </div>
  </li>

  {{#each system.stats as |stat name|}}
    <li class='stat' data-stat='{{name}}'>
      <div class='stat-name tooltip'>
        <span class='tooltipcontent'>
          {{stat.fullname}}<br /><br />
          @stats.{{name}}.value :
          {{stat.value}}
        </span>
        <h4>{{stat.label}}</h4>
      </div>
      <div class='stat-baseStat'>
        {{stat.base}}
      </div>
      <input
        type='number'
        value='{{stat.feats}}'
        class='text-box stat-feats'
        name='system.stats.{{name}}.feats'
        data-type='Number'
        title='{{localize "PTU.StatFeat"}}'
      />
      <div class='stat-bonus'>
        {{#if getsBonus}}
          {{stat.bonus}}
        {{else}}
          -
        {{/if}}
      </div>
      <input
        type='number'
        value='{{stat.level}}'
        class='text-box stat-level'
        name='system.stats.{{name}}.level'
        data-type='Number'
        title='{{localize "PTU.StatLevel"}}'
      />
      <div class='stat-total'>
        {{stat.total}}
      </div>
    </li>
  {{/each}}
</ul>