<div class='flexcol trainer-header'>
  <section class='trainer-card'>
    <ul class='trainer-info flexcol'>
      <li class='trainer-name'>
        <input
          type='text'
          value='{{actor.name}}'
          class='text-box'
          name='name'
          data-type='String'
          placeholder='What is your name?'
        />
      </li>
      <li class='trainer-id flexrow'>
        <span>ID No.</span>
        <span>{{system.details.trainerID}}</span>
      </li>
      <li class='trainer-sex flexrow'>
        <span>Sex:</span>
        <input
          type='text'
          value='{{system.details.sex}}'
          class='text-box'
          name='system.details.sex'
          data-type='String'
          placeholder='Are you a boy or girl?'
        />
      </li>
      <li class='trainer-age flexrow'>
        <span>Age:</span>
        <input
          type='text'
          value='{{system.details.age}}'
          class='text-box'
          name='system.details.age'
          data-type='String'
          placeholder='Sex?'
        />
      </li>
      <li class='trainer-weight flexrow'>
        <span>Weight:</span>
        <input
          type='text'
          value='{{system.details.weight}}'
          class='text-box'
          name='system.details.weight'
          data-type='String'
          placeholder='Weight?'
        />
      </li>
    </ul>
    <img
      class='trainer-picture'
      src='{{actor.img}}'
      title='{{actor.name}}'
      data-edit='img'
    />
  </section>
</div>