<section class='trainer-card'>
  <div class='card'>
    <div class='left-side'>
      <div class='trainer-info'>
        <ul class='trainer-info-list'>
          <li class='trainer-name'>
            <div class='trainer-info-field'>
              <span>{{localize 'PTU.Name'}}:</span>
              <input
                type='text'
                value='{{actor.name}}'
                class='text-box editable'
                name='name'
                data-type='String'
                placeholder='{{localize "PTU.TrainerNamePlaceholder"}}'
              />
            </div>
          </li>
          <li class='trainer-id'>
            <div class='trainer-info-field'>
              <span>{{localize 'PTU.TrainerID'}}</span>
              <span>{{system.details.trainerID}}</span>
            </div>
          </li>
          <li class='trainer-bio'>
            <div class='trainer-age trainer-bio-field'>
              <span>{{localize 'PTU.TrainerAge'}}:</span>
              <input
                type='text'
                value='{{system.details.age}}'
                class='text-box editable'
                name='system.details.age'
                data-type='String'
                placeholder='###'
              />
            </div>
            <div class='trainer-sex trainer-bio-field'>
              <span>{{localize 'PTU.TrainerSex'}}:</span>
              <input
                type='text'
                value='{{system.details.sex}}'
                class='text-box editable'
                name='system.details.sex'
                data-type='String'
                placeholder='{{localize "PTU.TrainerSexPlaceholder"}}'
              />
            </div>
            <div class='trainer-height trainer-bio-field'>
              <span>{{localize 'PTU.TrainerHeight'}}:</span>
              <input
                type='text'
                value='{{system.details.height}}'
                class='text-box editable'
                name='system.details.height'
                data-type='String'
                placeholder='###'
              />
            </div>
            <div class='trainer-weight trainer-bio-field'>
              <span>{{localize 'PTU.TrainerWeight'}}:</span>
              <input
                type='text'
                value='{{system.details.weight}}'
                class='text-box editable'
                name='system.details.weight'
                data-type='String'
                placeholder='###'
              />
            </div>
          </li>
          <li class='trainer-money'>
            <div class='trainer-info-field'>
              <span>{{localize 'PTU.Money'}}:</span>
              <div>
                <img
                  class='pokedollar-symbol'
                  src='systems/ptu/image/Pokémon_Dollar_sign.svg'
                  style='border: none; height: 11px; margin-top: 5px;'
                />
                <span>{{system.resources.currency.string}}</span>
              </div>
            </div>
          </li>
          <li class='trainer-pokedex'>
            <div class='trainer-info-field'>
              <span>{{localize 'PTU.Pokedex'}}|</span>
              <div>
                <span>{{localize
                    'PTU.PokedexSeen'
                  }}:{{system.pokedex.numSeen}}</span>
              </div>
              <div>
                <span>{{localize
                    'PTU.PokedexCaught'
                  }}:{{system.pokedex.numCaught}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      {{! 
      <div class='card-selector'>
        <span>Test String</span>
      </div>}}
      <div class='trainer-background'>
        {{!> "systems/ptu/templates/actor/parts/card-skill-fragment.hbs"}}
        <div class='background-name'>
          <span>{{localize 'PTU.Background'}}:</span>
          <input
            type='text'
            value='{{system.details.background.name}}'
            class='text-box editable'
            name='system.details.background.name'
            data-type='String'
            placeholder='{{localize "PTU.TrainerBackgroundPlaceholder"}}'
            style='font-style: bold;'
          />
        </div>
        <div
          class='background-description editable'
          title='Background Description'
        >
          <input
            type='text'
            value='{{system.details.background.description}}'
            class='text-box bkrnd-info-field'
            name='system.details.background.description'
            data-type='String'
            placeholder='{{localize "PTU.TrainerBackgroundDescPlaceholder"}}'
            style='font-style: italic; background-color: #c0c0c0cc;'
          />
        </div>
        <div class='skills-up'>
          <div
            class='adept-skill bkrnd-info-field editable'
            title='Adept Skill'
          >
            <select
              class='bkrnd-info-field skill-select skill-select editable'
              name='system.details.background.adept'
            >
              {{#select system.details.background.adept}}
                <option value='0' selected disabled hidden>
                  {{localize 'PTU.BackgroundSkillSelectPlaceholder'}}
                </option>
                {{#each system.skills as |s key|}}
                  <option value='{{key}}'>{{s.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <div
            class='novice-skill bkrnd-info-field editable'
            title='Novice Skill'
          >
            <select
              class='bkrnd-info-field skill-select editable'
              name='system.details.background.novice'
            >
              {{#select system.details.background.novice}}
                <option value='0' selected disabled hidden>
                  {{localize 'PTU.BackgroundSkillSelectPlaceholder'}}
                </option>
                {{#each system.skills as |s key|}}
                  <option value='{{key}}'>{{s.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class='pathetic-skills' title='Pathetic Skills'>
          {{#each system.details.background.pathetic}}
            <select
              class='bkrnd-info-field skill-select editable'
              name='system.details.background.pathetic.{{@index}}'
            >
              {{#select this}}
                <option value='' selected disabled hidden>
                  {{localize 'PTU.BackgroundSkillSelectPlaceholder'}}
                </option>
                {{#each @root.system.skills as |s key|}}
                  <option value='{{key}}'>{{s.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='right-side'>
      <div class='trainer-stars tooltip'>
        <span class='tooltipcontent'>
          {{localize 'PTU.Level'}}:
          {{system.level.value}}
        </span>
        {{#each system.details.stars}}
          <img
            class='trainer-star'
            src='systems/ptu/image/Trainer-Card/trainer-star.svg'
          />
        {{/each}}
      </div>
      <div class='trainer-picture-area tooltip'>
        <span class='tooltipcontent'>
          {{actor.name}}<br />
          src={{actor.img}}<br /><br />
          16:9<br />
          {{localize 'PTU.TrainerFinalImage'}}: 350 x 197 px
        </span>
        <img class='trainer-picture' src='{{actor.img}}' data-edit='img' />
      </div>
    </div>
  </div>
</section>